#lockitron_header
{
  border: none;
  a
  {
    border: none !important;
    font-size: inherit !important;
  }
}

.headerwrapper {
  width: 100%;
  text-align: center;
}

#header 
{
  width: 100%;
  padding: 26px 0;
  -moz-box-shadow:    0px 1px 3px 0px #acacac;
  -webkit-box-shadow: 0px 1px 3px 0px #acacac;
  box-shadow:         0px 1px 3px 0px #acacac;
  background: #fcfcfc;
  position: relative;
  height: 120px;


}

.logo {
  margin: 0 auto;
  width: 100%;
  font-family: Helvetica;
  font-size: 42px;
  font-weight: bold;
  color: $h1_color;
  letter-spacing: -.05em;
  float: left;
  display: inline-block;
  a {
    text-decoration: none;
    color: black;
    line-height: 20px;
  }
  .logoGraphic {
    margin-top: 5px;
  }
}