<div id="header">
  <div class="wrapper clearfix headerwrapper">
  	<div class='logo'>
  		<div class='logoGraphic'>
	  		<img src="/assets/smalllogo.png" alt="">
	  	</div>
	    <span id="lockitron_header"><a href="/">	<%= Settings.product_name %></a></span>
    </div>
  </div>
</div>